.section {
    min-height: 475px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.about-us {

    padding: 50px 100px 50px 80px;


}

.restaurant-image {
    /*transform: scale(1.1);*/

}