/*.section {*/
/*    display: ;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*}*/

.section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    column-gap: 10px;
}

#about-us {
    padding: 50px 100px 50px 80px;
}
