.contact {
    padding: 40px 80px 115px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact__form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-family: 'Open Sans', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    gap: 11px;
    margin-top: 50px;
}

.contact__form-input {
    height: 60px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #E5E5E5;
    border-radius: 5px;
    border: none;
}

.contact__form-textarea {
    grid-column-start: 1;
    grid-column-end: 4;
    width: 1280px;
    height: 120px;
    box-sizing: border-box;
    background-color: #E5E5E5;
    border-radius: 5px;
    border: none;
    padding: 10px;
}

.contact__submit {
    width: 640px;
    height: 60px;
    background-color: #E8C300;
    border-radius: 5px;
    border: none;
    grid-column-start: 2;
    grid-column-end: 4;
    justify-self: end;
    font-family: "Open Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    color: white;

}

.contact__list {
    display: flex;
    list-style-type: none;
    font-family: 'Open Sans', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    align-items: start;
    color: rgba(51, 51, 51, 0.5);
    padding: 0;
    justify-self: start;
    width: 100%;
    margin-top: -45px;
}

.contact__info {
    margin: 10px;
}

.contact__info:first-child {
    margin-left: 0;
}


.contact__color {
    color: #E8C300;
}

