#contact {
    padding: 40px 80px 115px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.contact__form {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 650px));
    font-family: 'Open Sans', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    gap: 15px;
    margin-top: 50px;
}

.contact__form-input {
    height: 60px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: #E5E5E5;
    border-radius: 5px;
    border: none;
}

.error-text {
    color: red;
    font-family: 'Open Sans', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 19px;
    margin-right: 5px;
    margin-top: -20px;
}

.input-container {
    position: relative;
    min-height: 79px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
}

.input-container-text {
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
}

.contact__form-textarea {
    width: 100%;
    box-sizing: border-box;
    background-color: #E5E5E5;
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 10px;
    height: 120px;
}

.contact__submit {
    width: 640px;
    height: 60px;
    background-color: #E8C300;
    border-radius: 5px;
    border: none;
    grid-column-start: 2;
    grid-column-end: 4;
    justify-self: end;
    font-family: "Open Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    color: white;
    z-index: 9999;
    transition: background-color 0.2s linear;
}

.contact__submit:hover {
    cursor: pointer;
    background-color: goldenrod;
}

.contact__list {
    display: flex;
    list-style-type: none;
    font-family: 'Open Sans', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    align-items: start;
    color: rgba(51, 51, 51, 0.5);
    padding: 0;
    width: 100%;
    margin-top: -45px;
}


.contact__info {
    margin: 10px;
}

.contact__info:first-child {
    margin-left: 0;
}

.contact__color {
    color: #E8C300;
}

@media screen and (max-width: 1400px) {
    .contact__list {
        font-size: 9px;
    }
}

@media screen and (max-width: 1180px) {
    .contact__list {
        margin: 15px;
        justify-content: center;
        position: absolute;
        bottom: 0;
    }
}