.footer {
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.footer__text {
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Open Sans', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
}

.footer__text_bold {
    font-weight: 700;
}